{{template "base" .}}


{{define "content"}}

<div class="container m-5">
  <h1>Venues</h1>
  {{with .Form.Errors.Get "date"}}
  <br>
  <label class="text-danger">{{.}}</label>
  {{end}}
  {{with .Form.Errors.Get "success"}}
  <br>
  <h3 class="text-success">{{.}}</h3> 
  {{end}}

</div>


<div class="container m-5">
  <div class="row row-cols-1 row-cols-md-3 g-5 ">

    {{$res := index .Data "user"}}
    {{$v := index .Data "venues"}}    

    {{range $v}}
    <div class="col" novalidate>
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{.Name}}</h5>
          <br>
          <p class="card-text">Type: {{.Type}}</p>
          <p class="card-text">Capacity: {{.Capacity}}</p>
          <form method="POST">
            <input type="hidden" name="venueID" value="{{.ID}}">
            {{if $res.Username}}
            <input required id="date" name="date{{.ID}}" class="form-control date" placeholder="Date">
            <label class="form-check-label"></label>
            <br>
            <button class="btn btn-danger" type="submit">Book Me</button>
          </form>
          {{else}}
          <a class="btn btn-danger" href="/login">Login to Book</a>
          {{end}}
        </div>
      </div>
    </div>
    {{end}}

  </div>
</div>


{{end}}

{{define "script"}}
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker.min.js"></script>
<script>
  const dateNow = Date.now()

  {{range index .Data "venues"}}
  var elem = document.querySelector('input[name="date{{.ID}}"]');
  var datepicker = new Datepicker(elem, {
    format:  "yyyy-mm-dd",
    minDate: dateNow
  }); 
  {{end}}
</script>

{{end}}