{{template "base" .}}

{{define "content"}}
<div class="container mt-5">

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img src="/static/images/error.png" width="333px">
        </div>
        <div class="col"></div>
        <div class="row">
            <p class="h1" style="text-align: center;font-size:100px"><strong>404 Error</strong></p>
        </div>
        <div class="row">
            <p class="h2" style="text-align: center;">Page Not Found</p>
        </div>
    </div>

</div>
{{end}}